<dd>
  <% if element.type || element.element_type || element.term %>
    <p>
      <% if element.term %>
        <strong class="term"><%= element.term %></strong>
      <% end %>
      <% if element.type %>
        <em class="type">(<%= element.type %>)</em>
      <% else %>
        <em class="type">(<%= element.element_type %>)</em>
      <% end %>
    </p>
  <% end %>


  <% if element.desc %>
    <p><%= element.desc %></p>
  <% end %>

  <% if element.item %>
    <dl class="item">
      <dt>of</dt>
      <%= render_element element.item %>
    </dl>
  <% end %>

  <% if element.elements && element.elements.size > 0 %>
    <dl>
    <% element.elements.each_value do |subelement| %>
      <%= render_element subelement %>
    <% end %>
    </dl>
  <% end %>

  <% if element.sample %>
    <p>Sample: <%= element.sample %></p>
  <% end %>
</dd>